doctype html
html(lang="en")
  head
    title= ''
    //- meta(http-equiv="refresh" content="2;url=" + client)
    meta(name="referrer" content="unsafe-url")
  body
  a(href=client id='refer')
  script
      include script.js